h1{
    text-align: center;
    color: rgb(69, 211, 40);
    margin-top: 30px;
    margin-bottom: 50px;
}

.home {
    display: flex;

    .homeContainer {
        width:100%;
        margin-left: 20px;
        margin-right: 15px;

        img{
          width: 45%;
          float: right;
        }
    }



    }
  


  
  

  
  
      
      
    
    
  
  
  