#container{
    width:55%;
    margin-left: 15px;
    margin-right: 15px;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    float: right;
}

.table td, .table th {
    border: 1px solid #ddd;
    text-align: center;
}

.table tr:hover {background-color: #ddd;}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
  }

  .image{
    width: 150px;
    height: 20%;
  }