h1{
    text-align: center;
    color: rgb(31, 9, 112);
    margin-top: 30px;
    margin-bottom: 50px;
}

.home {
    display: flex;

    .homeContainer {
        width:100%;
        margin-left: 20px;
        margin-right: 15px;

        img{
          width: 40%;
          float: right;
        }
    }

.btn{
        margin-top: 20px;
        padding-right: 25px;
        padding-left: 25px;
    }

    }
  


  
  

  
  
      
      
    
    
  
  
  