#container{
    width:60%;
    margin-left: 15px;
    margin-right: 15px;
}

.table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    float: right;
}

.table td, .table th {
    border: 1px solid #ddd;
    text-align: center;

    
}

.table tr:hover {background-color: rgb(233, 247, 241);}




.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: rgb(0, 0, 0);

  }

  .table td{
    text-align: justify;
  }



.centerhead{


    margin-left: 20px;
}

.width{
   width: 250px;
}


    .imgwidth{
        
        margin-right: 90px;


    }

    .widthimage{
        margin-top: auto;
        
    }





  



