#productListHeading {
    font: 400 2rem "Roboto";
    padding: 0.5vmax;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.637);
    transition: all 0.5s;
    margin: 2rem;
    text-align: center;
}

#container {
    width: 60%;
    margin-left: 15px;
    margin-right: 15px;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    float: right;
}

.table td,
.table th {
    border: 1px solid #ddd;
    text-align: center;


}

.table tr:hover {
    background-color: rgb(233, 247, 241);
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}



.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(91, 88, 191);

}

.table td {
    text-align: justify;
}



.centerhead {


    margin-left: 20px;
}

.width {
    width: 250px;
}


.imgwidth {

    margin-right: 90px;


}

.widthimage {
    margin-top: auto;

}



.no-outline {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    border-style: none;
    margin-left: 20px;



}

.no-outline:focus {
    border-style: none;
    border-radius: 40px;
    outline: none;
}

.border {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: #eee;
    border-style: none;
    border-radius: 40px;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 11px;
    width: 30%;
}

.edit {
    color: rgb(60, 0, 255);
}

.delete {
    color: rgb(233, 24, 24);
}

.image {
    height: 70px;
    width: 70px;
   }

.search-product {
    width: 400px;
    margin: 20px;
    height: 39px;
    padding-left: 30px;
    border: solid 1px rgb(220, 223, 223);
}

.printBtn {
    background-color: initial;
    margin-bottom: 0%;
    margin-left: 8%;
    margin: 2%;
    background-image: linear-gradient(-180deg, #00e539, #188d22);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #040202;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 35px;
    line-height: 35px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 7%;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
  }
  
  .printBtn:hover {
    box-shadow: rgba(12, 6, 3, 0.5) 0 3px 8px;
  }